#card{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    background-color: aqua;
}

#timer {
    font-size:150px;
    margin:0 auto;
    width:1000px;
    
  }
  
  #controls {
    margin:0 auto;
    width:600px;    
  }
  
  #controls button {
    font-size:24px;
  }

  #start{
    background-color: rgb(0, 255, 17);
  }

  #stop{
    background-color: red;
  }

  #pause{
    background-color: orange;
  }
